<!DOCTYPE html>
<html>
  <head>
    <title>TicketingApplication</title>
    <%# Bootstrap link %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %>
    <p class="alert"><%= alert %> <%#this is where the padding is coming from!%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle.js' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    
    
  </body>
</html>
